
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Текущий день недели</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: {{ background_color }};
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 3em;
            color: white;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        }
    </style>
</head>
<body>
    <h1> {{ day_name }}</h1>
</body>
</html>
